<!-- <h1>App Component</h1> -->
<!-- <app-user></app-user> -->
<!-- <app-joke></app-joke> -->

<input type="text" #search >
<!-- <div>
    <div *ngFor="let i of gitUsers">
        <img [src]= "i.avatar_url" />
        <p>{{i.login}}</p>
        
    </div>
</div> -->


<hr>
<h2>Display Users using &#64;For </h2>
@for (i of users; track i.id) {
    <p>Id - {{i.id}} , Name - {{i.name}} , Salary - {{i.salary}}</p>  
}


<hr>
<h2>Using Custom Pipe, Sort With Respect to Salary in Ascending Order</h2>
<div>
    <li *ngFor="let i of users | sortPipe ;  trackBy: trackById">
        Salary - {{ i.salary }}
    </li>
</div>


<hr>
<h2>Using Custom Pipe, Filter Doing Name in Uppercase</h2>
<div>
    <li *ngFor="let i of users | filterPipe ">
        Name - {{ i.name }}
    </li>
</div>


<hr>
<h2>Fetch Data from Json Api Holder</h2>
<app-data></app-data>


<!-- <hr>
<h2>Display Users Using &#64;For & Async Pipe</h2>
<div *ngIf="usersapi | async as userapi">
    <ul>
      <li *ngFor="let i of userapi">
        <p>{{ i.name }}</p>
        <p>{{ i.email }}</p>
        <p>{{ i.phone }}</p>
      </li>
    </ul>
</div> -->


<hr>
<h2>Handle loading States With &#64;If</h2>
<button (click)="getload()">Load State</button>

<div *ngIf="isload">
    <p>Loading...</p>
</div>
<div *ngIf="!isload">
    <p>Data loaded.</p>
</div>